<mat-card class="mb-4 courses-card mat-elevation-z7">
    <mat-card-header class="mt-4">
   <h2>   <strong>  {{getcard.title}}</strong></h2>
    </mat-card-header>
    <img mat-card-image [src]="getcard.image" [alt]="getcard.description">
    <mat-card-content>
        {{getcard.description}}
    </mat-card-content>
    <mat-card-actions  class="d-flex justify-content-around">
        <button class="btn btn-primary" (click)="Onview()" >view</button>
       <button class="btn " (click)="Onform()"><mat-icon>add_circle_outline</mat-icon></button>
        <button class="btn btn-danger"(click)="Onremove(getcard.id)" >Delete</button>
    </mat-card-actions>
</mat-card>