<mat-sidenav-container fullscreen>
    <mat-sidenav #sidnav>
        <mat-nav-list (click)="sidnav.close()">
            <a mat-list-item>
                <mat-icon>books</mat-icon>
                <span>courses</span>
            </a>
            <a mat-list-item>
                <mat-icon>library_books</mat-icon>
                <span>All corses</span>
            </a>
            <a mat-list-item>
                <mat-icon>person_add</mat-icon>
                <span>Ragister</span>
            </a>
            <a mat-list-item>
                <mat-icon>account_circle</mat-icon>
                <span>Log In</span>
            </a>
            <a mat-list-item>
                <mat-icon>
                    account_circle
                </mat-icon>
                <span>Log Out</span>
            </a>
          <a mat-list-item routerLink="add">
            <mat-icon >
                add
            </mat-icon>
            <span>Add couses</span>
          </a>
        </mat-nav-list>
       
    </mat-sidenav>
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidnav.open()">
          <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
