
<div class="row">
    <div class="col-12">
        <div  class="ml-4">
            	<mat-icon>clear</mat-icon>
        </div>
    </div>
</div>


<mat-card class="mat-elevation-z7 mb-1">
<h2 class="text-center text-danger">{{matData.title}}</h2>
<p class="mb-2 text-center">{{matData.description}}</p>
</mat-card>

<h2 class="mt-3 text-center"> Dueration :  {{matData.duration}}</h2>
<h3 class="mb-2 text-center">category : {{matData.category}}</h3>
<h2 class="mt-3" [ngClass]="{
    'low' : matData.rating > 2,
    'medium' : matData.rating >2 && matData.rating <=4,
    'high' : matData.rating > 4
}">{{matData.rating}}</h2>
